.booking-options{
  display: flex;
  justify-content: space-around;
}

.options-accept {
  padding: 2px 10px;
  border-radius: 10px;
  border: 1px solid rgb(255, 252, 252);
  background-color: rgb(158, 239, 245);
}
.options-reject {
  padding: 2px 10px;
  border-radius: 10px;
  border: 1px solid rgb(255, 252, 252);
  background-color: rgb(238, 106, 152);
}

.num-booked {
  padding: 2px 10px;
  border-radius: 10px;
  width: 200px;
  border: 1px solid rgb(255, 252, 252);

}

.num-booked-1{
  background-color: rgb(158, 239, 245);
}
.num-booked-2{
  background-color: rgb(215, 251, 253);
}
.num-booked-3{
  background-color: rgb(236, 249, 250);
}
