// Specific CSS for your home-page
// .test-modif {
//   background-color: rgb(255, 60, 0);
//   font-size: 20px;
//   text-align: center;
// }

.banner-icons {
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;

}

.list-inline {
  text-align: center;
  align-items: center;
  margin: 40px;

}

.list-inline-item {
  margin: 40px;
  align-items: center;
}


.icons h2 {
  font-size: 20px;
}


.card-container-benefits {
  justify-content:center;
  margin-bottom: 30px;
}

.card {
  justify-content:center;
  margin-right: 50px;
  border-radius: 12px;
}

.card img {
  border-radius: 12px 12px 0 0;
}

.benefits-title {

  padding-left:30px;

 }

 .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
 }

 .benefits-title h2 {
  text-align: center;
  font-size:50px;
  margin-bottom: 35px;
}

.top-picks-title h2 {
  text-align: center;
  font-size: 50px;
  padding-left:30px;
  margin-bottom: 35px;
}

.top-picks-card h2 {
  font-size:30px;
  margin-bottom: 35px;
}

.top-picks-card-container {
  justify-content:center;
}

.top-picks-card {
  margin-right: 15px;
}


.fab {
  font-weight: 400;
  font-size:30px;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.equip-btn {
  width: 300px;
  margin-top: 100px;
  margin-bottom: 75px;
  border-radius: 3px;
}

.browse-equip{
  width: 100%;
  background-color: #A555EC;
  padding: 30px;
}

.btn-dark {
  background-color: #F7C04A;
  border: #F7C04A;
}

.btn-dark:hover {
  background-color: #A555EC;
}



.banner {
  display: flex;
}

.container {
  margin: auto auto;
  color: white;

  button {
    color: white;
    margin-bottom: 75px;
    border-radius: 3px;
    background-color: #F7C04A;
    border: #F7C04A;
    &:hover {
      background-color: #A555EC;
    }
  }
}

.container-home {
  // margin: 0 auto;
}

#search-container {
  background-color: rgb(250, 248, 248);
  margin-top: -50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  padding-bottom: 30px;
  padding-top: 30px;
  box-shadow: 0 18px 58px rgba(39, 78, 94, 0.2);
}


.card-home {
  min-height: 100%;
  width: 350px;
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgba(126, 125, 125, 0.589);
  background-color: white;
  border-radius: 17px;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom: 42px;
  &:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px 15px rgba(104, 103, 103, 0.507);
  }
}

.wavy-styling {
  width: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fef2e8;
  text-decoration: underline wavy  #f9dabf;
  text-underline-offset: 0.5em;
  text-align: center;
}
