// Import page-specific CSS files here.
@import "home";

.header-container {
  padding: 25px;
}

.container {
  margin: 0 auto;
}

.card-body {

  h4, p {
    color: black;
  }

  i {
    color: purple;
  }

  padding-left: 10px;
  padding-right: 10px;
}

.categories-container {
  margin-top: 30px;
  margin-bottom: 50px;

  button {
    color: white;
    border-radius: 3px;
    background-color: #F7C04A;
    border: #F7C04A;
    &:hover {
      background-color: #A555EC;
    }
  }
}

.card {
  margin-bottom: 50px;
  box-shadow: 0 18px 58px rgba(136, 137, 137, 0.2);
}

.card-img-top {
  padding-bottom: 15px;
}

.card-body {
 padding-top: 10px;

 h5 {
  font-size: 23px;
  padding-bottom: 5px;
 }
}

.card-text {
  padding-bottom: 4px;
}

.card-button {
  margin-top: 4px;
  margin-bottom: 8px;

  .btn-warning {
    color: white;
    border-radius: 3px;
    background-color: #F7C04A;
    border: #F7C04A;
    &:hover {
      background-color: #A555EC;
    }
  }
}
