// Import page-specific CSS files here.
@import "home";

.parent-container {
  background-color: white;
  overflow: hidden;
}
.header-container {
  padding: 25px;
}
.categories-container {
  margin-top: 30px;
  margin-bottom: 50px;

  button {
    color: white;
    border-radius: 3px;
    background-color: #F7C04A;
    border: #F7C04A;
    &:hover {
      background-color: #A555EC;
    }
  }
}

.card {
  min-height: 350px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgba(136, 134, 134, 0.589);
  background-color: white;
  border-radius: 18px;
  text-align: center;
}
