.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  margin-left: -40px;
  background-color: #f4f4f401;
  border: 0px solid rgba(53, 53, 53, 0.636);
  color: rgba(53, 53, 53, 0.636);
}
.form-control {
height: 35px;
width: 500px;
border-radius: 50px;
}
