<div class="marker">
<%= image_tag "pin.png", height: 50, width: 50, alt: "markerlogo" %>
<div class="badge rounded-pill bg-info text-dark fs-6">
  <%= "#{user.first_name} #{user.last_name}"%>
</div>
</div>
